body {
    background-color: #fab3c2; /* Very light grey */
}

/* Style for all paragraphs */
p {
  color: rgb(65, 12, 114);
  font-size: 18px;
}

li { 
  color: rgb(150, 6, 102);
}

/* Style for the main heading */
h1 {
   
   text-align:  center; /* Puts the heading in the middle */
    border: 2px solid rgb(20, 181, 221); /* Adds a blue border around the heading */
    padding: 10px; /* Adds space inside th
