body {
    background-color: #fab3c2; 
}

#Baking {
    background-color: rgb(125,197,219);
}

#Karate {
    background-color: rgb(125,197,219);
}

#Acting {
        background-color: rgb(125,197,219);
}

#Art
    background-color: rgb(125,197,219);
}

#Traveling
    background-color: rgb(125,197,219);
}

p {
  color: rgb(65, 12, 114);
  font-size: 18px;
}

li { 
  color: rgb(150, 6, 102);
}


h1 {
   
   text-align:  center; 
    border: 2px solid rgb(20, 181, 221); 
    padding: 10px;
