/* Change the background of the entire visible page */
body {
    background-color: #fab3c2; /* Very light grey */
}

/* Style for all paragraphs */
p {
    color: rgb(58, 8, 104);
    font-size: 16px;
    font-family: 'Ariel', serif;
}
#I love baking}
backround-colour: yellow;
{
/* Style for the main heading */
h1 {
    text-align: center; /* Puts the heading in the middle */
    border: 2px solid rgb(77, 182, 243); /* Adds a blue border around the heading */
    padding: 10px; /* Adds space inside the border */

border-image-width: 10cm;
