 /* Change the background of the entire visible page */
body {
    background-color: #fab3c2; /* Very light grey */
}

/* Style for all paragraphs */
p {
    font-size: 16px;
    font-family: 'Times New Roman', serif;
}

/* Style for the main heading */
h1 {
    text-align: center; /* Puts the heading in the middle */
    border: 10px solid rgb (77,182,243); /* Adds an orange border around the heading */
    padding: 10px; /* Adds space inside the border */
