 /* Change the background of the entire visible page */
body {
    background-color: #fab3c2; /* Very light grey */
}

/* Style for all paragraphs */
p {
    color:(60, 6, 77);
 font-size: 16px;
    font-family: 'Times New Roman', serif;
}

/* Style for the main heading */
h1 {
    text-align: center; /* Puts the heading in the middle */
    border: 2px solid rgb(20, 181, 221); /* Adds a blue border around the heading */
    padding: 10px; /* Adds space inside the border */
