

body {
    background-color: #fab3c2; 
}

p {
  color: rgb(65, 12, 114);
  font-size: 18px;
}

li { 
  color: rgb(150, 6, 102);
}

h1 {
    text-align: center; 
    border: 2px solid rgb(20, 181, 221); 
    padding: 10px; 
